<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>

    


    <div id="app">
        <main>
            
            <section class="bigcontainer">

                <section class="profilecontainer">
    
                    <div class="row flex-justify-between userContainer border-right flex-align-center">
                        <div class="d-flex flex-align-center">
                            <img class="myImg" src="./img/avatar_io.jpg" alt="mioAvatar">
                            <div class="px-8">Sofia</div>
                        </div>
                        <div class="d-flex">
                            <i class="fa-solid fa-circle-notch"></i>
                            <i class="fa-solid fa-message px-16"></i>
                            <i class="fa-solid fa-ellipsis-vertical"></i>
                        </div>
                    </div>
    
                    <div class="row bg-cian p-16">
                        <div class="d-flex flex-align-center">
                            <i class="fa-solid fa-bell-slash"></i>
                            <div class="px-8">
                                <div>Ricevi notifiche di nuovi messaggi</div>
                                <div><a href="#">Attiva notifiche desktop</a></div>
                            </div>
                        </div>
                    </div>
    
                    <div class="row bg-white p-16 flex-align-center">
                        <span><i class="fa-solid fa-magnifying-glass p-8"></i></span>
                        <input type="text" v-model="search" class="p-8" placeholder="Cerca o inizia una nuova chat">
                    </div>
    
                    <div class="contactcontainer">
                        <div v-for="(element, i) in filteredUser()" :class="{ colore: (i == selected) }" class="row p-16 bg-color-white flex-justify-between" @click="checkClick(i)">
                            <div class="d-flex">
                                <img class="myImg" :src="element.avatar" :alt="element.name">
                                <div class="px-8">
                                    <div>{{element.name}}</div>
                                    <div class="lasttext">Ultimo messaggio inviato</div>
                                </div>
                            </div>
                            <div>
                                <div class="lasttext">12:00</div>
                            </div>
                        </div>
                    </div>
                </section>
    
                <section class="chatusercontainer">
                    <div class="usercontainer">
                        <div v-for="(element, i) in contacts" :class="{ dFlex: (i == selected) }" class="row flex-justify-between flex-align-center dNone">
                            <div class="d-flex flex-align-center">
                                <img class="myImg" :src="element.avatar" :alt="element.name">
                                <div class="px-8">
                                    <div class="uDates">Ultimo accesso oggi alle 12:00</div>
                                </div>
                            </div>
                            <div class="d-flex">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <i class="fa-solid fa-paperclip px-16"></i>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </div>
                        </div>
                    </div>

                    <div class="chatcontainer">
                        <div class="pt-64"></div>
                        <div v-for="(element, i) in contacts[selected].messages" :class="{ dFlex: (i == selected)}" class="rowChat pt-8">
                            <div class="w-60" :class="[element.status == 'received' ? 'dNone' : '']"></div>
                            <div class="w-40 d-flex flex-justify-between" :class="[element.status == 'sent' ? 'bgGreenChat' : 'bgWhiteChat']"> 
                                    <div class="p-16">{{element.message}}</div>
                                <div class="d-flex flex-justify-end t-align-end flex-align-end lastMessage timePaddings">{{element.date}}</div>       
                            </div>   
                        </div>
                    </div>

                    <div class="lowContainer">
                        <div class="row h-100 flex-justify-between flex-align-center">
                            <i class="fa-regular fa-face-smile pl-32"></i>
                            <input class="w-70" type="text" v-model="nuovoValore" placeholder="Scrivi un messaggio" @keyup.enter="addToChat()">
                            <i class="fa-solid fa-microphone pr-32"></i>
                        </div>
                    </div>
                </section>
    
            </section>
    
            <section class="headert"></section>
            <section class="backgroundc"></section>
        </main>

    </div>

    <script src="./js/main.js"></script>
</body>

</html>